<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fau.group4.donateme"
    android:versionCode="1"
    android:versionName="1.0" >
    <supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true"
                  />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="20" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <application       
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="ParseApplication">

        <uses-library android:required="true" android:name="com.google.android.maps" />
        
        <meta-data
		    android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyDPPl687S06it1HLVJkDcs8s5GRwHtu_7U"/>
        
	    <meta-data
	    	android:name="com.google.android.gms.version"
	    	android:value="@integer/google_play_services_version" />
	    

       <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>        		
        </activity>
		<activity android:screenOrientation="portrait" android:name=".Welcomepage"  />  
        <activity android:screenOrientation="portrait" android:name=".Login" />
        <activity android:screenOrientation="portrait" android:name=".Signup" />
        <activity android:screenOrientation="portrait" android:name=".Settings" />
        <activity android:screenOrientation="portrait" android:name=".Tab" />
        <activity android:screenOrientation="portrait" android:name=".Browse" />
        <activity android:screenOrientation="portrait" android:name=".Request" />
        <activity android:screenOrientation="portrait" android:name=".Howtohelp" />
        <activity android:screenOrientation="portrait" android:name=".HelpOrg" />
        <activity android:screenOrientation="portrait" android:name=".AddMedia" />
        <activity android:screenOrientation="portrait" android:name=".Thanks" 
                  android:theme="@android:style/Theme.Dialog"/>        
        <activity android:name=".Paypal"/>            		
		<activity
		 android:screenOrientation="portrait"
   		 android:name="com.paypal.android.MEP.PayPalActivity"
   		 android:configChanges="keyboardHidden|orientation"
    	 android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
